{% macro inscription(form) %}
    {{ form_start(form, { attr: { class: "form-group" } }) }}
    <div class="form-group container" id="form-inscription">
        <div class="row">
            <h3 class="col align-content-start">
                Inscription
            </h3>
        </div>
        <div class="row align-items-center">
            <div class="col" id="name">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom, { attr: { class: "input-inscription" } }) }}
            </div>
            <div class="col" id="mail">
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, { attr: { class: "input-inscription" } }) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.date_naissance) }}
                    {{ form_widget(form.date_naissance, { attr: { class: "input-inscription" } }) }}
                </div>
            </div>
        </div>
        <div class="row align-content-center">
            <div class="col" style="margin-top: -40px">
                {{ form_label(form.prenom) }}
                {{ form_widget(form.prenom, { attr: { class: "input-inscription" } }) }}
            </div>
            <div class="col">
                {{ form_label(form.password) }}
                {{ form_widget(form.password, { attr: { class: "input-inscription" } }) }}
            </div>
        </div>
        <div class="row form-group justify-content-center my-3">
            <button type="submit" class="btn btn-success">S'inscrire</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endmacro %}
