{% extends "base.html.twig" %}
{% from 'module/nav_template.html.twig' import nav_module %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('autocomplete') }}
    {{ encore_entry_script_tags('routing') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('autocomplete') }}
    {{ encore_entry_link_tags('routing') }}
{% endblock %}

{% block nav %}
    {# TODO : url pour page utilisateur #}
    {{ nav_module(url('home'), app.user.prenom ~ ' ' ~ app.user.nom) }}
{% endblock %}

{% block body %}
    <section class="masthead form-section">
        {{ form_start(form) }}
        <div class="form-group container" id="form-inscription">
            <div class="row">
                <div class="col">
                    {{ form_row(form.trajet.nbPassager) }}
                </div>
                <div class="col">
                    {{ form_row(form.trajet.dateDepart, { 'attr' : { 'placeholder' : 'jj-mm-aaaa' } }) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.lieuDepart) }}
                    {{ form_row(form.lieuArrivee) }}
                    {{ form_row(form.trajet.heureDepart) }}
                    {{ form_row(form.trajet.voiture) }}
                </div>
                <div class="col">
                    <div id="map" data-startY="" data-startX="" data-endX="" data-endY=""></div>
                </div>
            </div>
            {{ form_row(form.isFav) }}
            <button type="submit" class="btn btn-success">Envoyer</button>
            {{ form_widget(form.trajet.distance) }}
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}