{% macro updateVehicule(vehicule) %}
    {% if vehicule is not null %}
      <form class="form-group" id="form-vehicule" method="POST" action="{{ url('user_updateVehicule', {'vehicule':vehicule.id})}}">
          <div class="align-items-center m-2">
              <label for="text_marque">Marque : </label><input class="form-control" id="text_marque" name="marque" type="text" value="{{ vehicule.marque }}"/></br>
              <label for="text_model">Model : </label><input class="form-control" id="text_model" name="model" type="text" value="{{ vehicule.model }}"/></br>
              <label for="text_consommation">Consommation : </label><input class="form-control" id="text_consommation" name="consommation" type="text" value="{{ vehicule.consommation }}"/></br>
              <label for="text_immatriculation">Immatriculation : </label><input class="form-control" id="text_immatriculation" name="immatriculation" type="text" value="{{ vehicule.immatriculation }}"/></br>
              <label for="text_nbPlace">Nombre de place : </label><input class="form-control" id="text_nbPlace" name="nbPlaces" type="text" value="{{ vehicule.nbPlaces }}"/></br>
          </div>
          <button type="submit" class="btn btn-success">Modifier</button>
      </form>
    {% else %}
    <form class="form-group" id="form-vehicule" method="POST" action="{{ url('user_createVehicule')}}">
        <div class="align-items-center m-2">
            <label for="text_marque">Marque : </label><input class="form-control" id="text_marque" name="marque" type="text"/></br>
            <label for="text_model">Model : </label><input class="form-control" id="text_model" name="model" type="text" /></br>
            <label for="text_consommation">Consommation : </label><input class="form-control" id="text_consommation" name="consommation" type="text" /></br>
            <label for="text_immatriculation">Immatriculation : </label><input class="form-control" id="text_immatriculation" name="immatriculation" type="text" /></br>
            <label for="text_nbPlace">Nombre de place : </label><input class="form-control" id="text_nbPlace" name="nbPlaces" type="text" /></br>
        </div>
        <button type="submit" class="btn btn-success">Modifier</button>
    </form>
    {% endif %}
{% endmacro %}