{% macro vehicule(form) %}
    {{ form_start(form) }}
    <div class="form-group" id="form-vehicule">
        {{ form_row(form.marque) }}
        {{ form_row(form.model) }}
        {{ form_row(form.immatriculation) }}
        {{ form_row(form.consommation) }}
        {{ form_row(form.nbPlaces) }}
        <button type="submit" class="btn btn-success">Envoyer</button>
    </div>
    {{ form_end(form) }}

{% endmacro %}