{% macro login(last_username, error) %}
<form method="post" action="{{ url('app_login') }}">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <div class="container">
        <div class="row align-content-start">
            <h1 class="col h3 mb-3 font-weight-normal">Connexion</h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-2">
                    <label for="inputEmail" class="required">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input-inscription" required>
                </div>
                <div class="mb-2">
                    <label for="inputPassword" class="required">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control input-inscription" required>
                </div>
                <button class="mt-3 btn btn-lg btn-success row ml-2" type="submit">
                    Connexion
                </button>
            </div>
        </div>
    </div>

    {% if app.user %}
        <div class="mb-3 mt-3">
            Vous êtes connecté en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

</form>
{% endmacro %}
