{% extends 'base.html.twig' %}

{% from "form/inscription.html.twig" import inscription %}
{% from "form/updateVehicule.html.twig" import updateVehicule %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block nav %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class="projects-section signup-section h-100 d-flex" style="color:white" id="profile">

{#        <div class="container d-flex h-100">#}

            <div class="row justify-content-around align-items-center w-100">

                <div class="col-sm-3 border border-white text-center p-2">
                    <h1>Mes informations</h1>
                    <div class="text-left p-3">
                        <p><b>Nom : </b> {{ infoUser.prenom }}</p>
                        <p><b>Prénom : </b>{{ infoUser.nom }}</p>
                        <p><b>Date de naissance : </b>{{ infoUser.dateNaissance | date("d/m/Y") }}</p>
                        <p><b>Adresse mail : </b>{{ infoUser.email }}</p>
                    </div>

                    {% if (app.user.id is same as(infoUser.id)) or is_granted('ROLE_ADMIN') %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateUser">
                        Modifier
                    </button>
                    {% endif %}

                    <div class="modal fade" id="updateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Informations actuelles</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{ inscription(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 border border-white text-center p-2">
                    <h1>Vos intérêts</h1>
                    <form class="form-group" id="form-Interet" method="POST" action="{{ url('user_updateInteret') }}">
                        <div class="overflow-auto h-50">
                            {% for info in infoInteret %}
                                <div data-toggle="tooltip" data-placement="left" title="{{ info.descriptif }}">
                                    <input class="form-check-input" type="checkbox" value ="{{ info.id }}"
                                            name="{{ info.id }}"
                                            {% if info in infoUser.interests %} checked {% endif %}
                                            {% if app.user.id is not same as(infoUser.id) %}disabled{% endif %}
                                    />
                                    <label class="form-check-label" style="color:white" for="{{ info.nom }}">{{ info.nom }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        {% if (app.user.id is same as(infoUser.id)) or is_granted('ROLE_ADMIN') %}
                            <button type="submit" class="btn btn-primary btn-sm mt-5">Enregistrer</button>
                        {% endif %}
                    </form>
                </div>
                <div class="col-sm-3 border border-white text-center p-2 m-2">
                    <h1>Vos véhicule</h1>
                    {% if infoVehicule is empty %}
                        Vous n'avez enregistré aucun véhicule !
                    {% else %}
                        <div class="text-left m-2 overflow-auto">
                            {% set j = 1 %}
                            {% for infoV in infoVehicule %}
                                    <p>Véhicule {{ j }} :</p>
                                    <b>Marque : </b>{{ infoV.marque }} </br>
                                    <b>Model : </b>{{ infoV.model }} </br>
                                    <b>Consommation : </b>{{ infoV.consommation }} </br>
                                    <b>Immatriculation : </b>{{ infoV.immatriculation }} </br>
                                    <b>Nombres de place (conducteur inclu) : </b>{{ infoV.nbPlaces }} </br>
                                {% set j = j+1 %}

                                {% if (app.user.id is same as(infoUser.id)) or is_granted('ROLE_ADMIN') %}
                                    <button type="button" class="btn btn-primary m-3 p-2" data-toggle="modal" data-target="#updateVehicule{{ infoV.id }}">
                                        Modifier
                                    </button>
                                {% endif %}

                                <div class="modal fade" id="updateVehicule{{ infoV.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Informations actuelles</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{ updateVehicule(infoV) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if (app.user.id is same as(infoUser.id)) or is_granted('ROLE_ADMIN') %}
                        <button type="button" class="btn btn-primary m-3 p-2" data-toggle="modal" data-target="#createVehicule">
                            Créer
                        </button>
                        <div class="modal fade" id="createVehicule" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ajouter un véhicule</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ updateVehicule() }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}


                </div>
                <div class="col-sm-5 border border-white text-center p-2">
                    <h1>Vos trajets favoris</h1>
                    <div class="text-left p-2">
                        {% set i = 1 %}
                        {% for info in infoTrajetFav %}
                        <p>
                            Trajet {{ i }}: </br>
                            <b>Adresse de départ : </b> {{ info.lieuDepart.adresse }} {{ info.lieuDepart.codePostal }} {{ info.lieuDepart.ville }} </br>
                            <b>Adresse d'arrivé : </b>{{ info.lieuArrivee.adresse }} {{ info.lieuArrivee.codePostal }} {{ info.lieuArrivee.ville }} </br>
                            {% set i = i+1 %}
                        </p>
                        {% endfor %}
                    </div>

                </div>

            </div>
{#        </div>#}
    </section>
{% endblock %}