.form-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}
legend{
    padding-left: 15px;
}
#map{
    z-index: 9 !important;
}
#searchModal{
    z-index: 15 !important;
}
.modal-backdrop{
    z-index: 5 !important;
}