{% macro trajet(t, labeledUser) %}
<div class="card m-5 mt-1">
    <div class="card-header">
        {{ t.lieuDepart.ville }} - {{ t.lieuArrivee.ville    }}
    </div>
    <div class="card-body">
        <h5 class="card-title">Départ le {{ t.dateDepart|date('d-m-yy', "Europe/Paris") }} à {{ t.heureDepart|date('H:i', "Europe/Paris") }}</h5>
        <div class="container">
            <div class="row">
                <div class="col">
                    Conducteur : <a href="{{ url('user_userPage', {'user' : t.conducteur.id}) }}">{{ t.conducteur.prenom }} {{ t.conducteur.nom }}</a>
                </div>
                <div class="col">
                    Distance : {{ t.distance/1000 }} km <br>
                    Prix : {{ t.prix }} €
                </div>
            </div>
            <div>

                {% if app.user not in t.covoitureur %}
                    <a href="{{ url('trip_pending', {'trajet' : t.id}) }}" class="btn btn-primary">Demander de rejoindre le trajet</a>
                {% else %}
                    <i class="fa fa-check-circle fa-2x"></i> Vous faîtes désormais partie de ce trajet
                {% endif %}
            {% if t.conducteur is same as(app.user) %}
                <a href="" data-toggle="modal" data-target="#modal-wait{{ t.id }}"
                   class="btn btn-secondary">Accepter les covoiturerurs en attente ({{ t.attentes|length }})</a>

                <div class="modal fade" id="modal-wait{{ t.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Covoitureurs en attentes</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% for idUser in t.attentes %}
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="{{ url('user_userPage', {'user':idUser}) }}">{{ labeledUser[idUser].prenom }} - {{ labeledUser[idUser].nom }}</a>
                                        </div>
                                        <div class="card-body">
                                            <a href="{{ url('trip_acceptUser', {'user':idUser, 'trajet':t.id}) }}" type="button" class="btn btn-success">Accepter</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}