{% macro search() %}
    <form class="form-group container" method="get" action="{{ url('trip_search') }}">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="lieuDepart" class="required">Lieu de départ</label>
                    <input type="text" id="lieuDepart" name="lieuDepart" required="required"
                           class="autocomplete-place form-control ui-autocomplete-input" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="lieuArrivee" class="required">Lieu d'arrivée</label>
                    <input type="text" id="lieuArrivee" name="lieuArrivee" required="required"
                           class="autocomplete-place form-control ui-autocomplete-input" autocomplete="off">
                </div>
            </div>
            <div class="col">
                <fieldset class="form-group">
                    <legend class="col-form-label required">Heure de départ</legend>
                    <div id="heureDepart" class="form-inline">
                        <div class="sr-only">
                            <label class="required" for="heure">Heure</label>
                        </div>
                        <select id="heure" name="heureDepart[heure]"
                                class="form-control">
                            <option value="0">00</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>:
                        <div class="sr-only">
                            <label class="required" for="minute">Minute</label>
                        </div>
                        <select id="minute" name="heureDepart[minute]"
                                class="form-control">
                            <option value="0">00</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>
                        </select>
                    </div>
                </fieldset>
                <div class="form-group">
                    <label for="dateDepart" class="required">Date de départ</label>
                    <input type="text" id="new_trajet_trajet_dateDepart"
                           name="dateDepart" required="required"
                           placeholder="jj-mm-aaaa" class="form-control calendar">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary row">Rechercher</button>
    </form>
{% endmacro %}