{% from 'module/nav_template.html.twig' import nav_module %}

<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('template') }}
        {% endblock %}
    </head>
    <body class="home" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="{{ homepage is defined ? '#page-top' : url('home') }}">Covoiturage</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% block nav %}{% endblock %}
                    {% if app.user %}
                        {{ nav_module(url('user_userPage', { 'user' : app.user.id }), app.user.prenom ~ ' ' ~ app.user.nom) }}
                        {{ nav_module(url('app_logout'), 'Déconnexion') }}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% for label, messages in app.session.flashBag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show fixed-bottom" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="">{% block body %}{% endblock %}</div>
    <!-- Footer-->
    <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Covoiturage-UTBM 2020</div></footer>
{#    <!-- Bootstrap core JS-->#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>#}
{#    <!-- Third party plugin JS-->#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>#}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('template') }}
    {% endblock %}
    </body>
</html>
