{% extends 'base.html.twig' %}
{% from 'form/inscription.html.twig' import inscription %}
{% from 'module/nav_template.html.twig' import nav_module %}
{% from 'security/login.html.twig' import login %}
{% from 'homepage.html.twig' import functionality %}
{% from 'module/trajet_search.html.twig' import search %}
{% from 'module/trajet_module.html.twig' import trajet %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('autocomplete') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('autocomplete') }}
{% endblock %}

{% block nav %}
    {{ parent() }}
    {% if not app.user %}
        {{ nav_module('#connexion', 'Connexion/Inscription') }}
    {% else %}
        {{ nav_module('#tool', 'Utiliser l\'application') }}
    {% endif %}
    {{ nav_module('#projects', 'Notre projet') }}
    {% if app.user %}
        {{ nav_module('#favs', 'Favoris') }}
    {% endif %}
{% endblock %}

{% block body %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Covoiturage</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Une application de covoiturage faite par des étudiants, pour des étudiants.</h2>
                {% if not app.user %}
                    <a class="btn btn-primary js-scroll-trigger" href="#connexion">Connexion/Inscription</a>
                {% else %}
                    <a class="btn btn-primary js-scroll-trigger" href="#tool">Utiliser l'application</a>
                {% endif %}

            </div>
        </div>
    </header>
    <!-- Login/Register -->
    {% if not app.user %}
        <section class="about-section" id="connexion">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        {{ login(last_username, error) }}
                    </div>
                    <div class="col-1">
                        <i class="vertical-line mx-auto"></i>
                    </div>
                    <div class="col-6">
                        {{ inscription(form) }}
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <section class="about-section" id="tool">
            <div class="container">
                <div class="row">
                    <div class="col-5 card text-black p-0">
                        <div class="card-header">
                            Fonctionnalité utilisateur
                        </div>
                        <ul class="list-group list-group-flush">
                            {{ functionality("Nouveau trajet", url("trip_register"), 'ROLE_CONDUCTOR', 'Il faut avoir une voiture d\'enregistrer pour proposer un voyage' ) }}
                            <li class="list-group-item m-0 p-0">
                                <a href="#" data-toggle="modal" data-target="#searchModal"
                                   class="btn btn-outline-info w-100 h-100{% if not is_granted('ROLE_USER') %} disabled {% endif %}">
                                    Rechercher un trajet
                                </a>
                                <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Recherche</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{ search() }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">
            <!-- Featured Project Row-->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ asset('img/bg-masthead.jpg') }}" alt="" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>Covoiturage</h4>
                        <p class="text-black-50 mb-0">
                            Cette application a été développer dans le cadre d'un projet du module BD70. <br>
                            Ne voulant pas faire un projet "inutile", nous avons décidé de créer une application utile
                            et répondant à un cahier des charges précis. <br>Notre objectif étant de proposer une application
                            à l'instar de BlablaCar, mais sans la commission (de 15-20% prise par l'application).
                            Et quoi de mieux pour un étudiant de faire du covoiturage avec d'autres étudiants ? <i class="fas fa-glass-cheers"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Mes trajets</h3>
                {% for mestrajet in mesTrajets %}
                    {{ trajet(mestrajet) }}
                {% endfor %}
            </div>
        </div>
    </section>
    {% if app.user %}
    <section class="signup-section" id="favs">
{#        <h3 class="ml-5" style="color: white">Favoris</h3>#}
        {% for fav in listFavs %}
            {{ trajet(fav, labeledUser) }}
        {% endfor %}
    </section>
    {% endif %}
{#    <!-- Contact-->#}
{#    <section class="contact-section bg-black" id="">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-md-4 mb-3 mb-md-0">#}
{#                    <div class="card py-4 h-100">#}
{#                        <div class="card-body text-center">#}
{#                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>#}
{#                            <h4 class="text-uppercase m-0">Address</h4>#}
{#                            <hr class="my-4" />#}
{#                            <div class="small text-black-50">4923 Market Street, Orlando FL</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 mb-3 mb-md-0">#}
{#                    <div class="card py-4 h-100">#}
{#                        <div class="card-body text-center">#}
{#                            <i class="fas fa-envelope text-primary mb-2"></i>#}
{#                            <h4 class="text-uppercase m-0">Email</h4>#}
{#                            <hr class="my-4" />#}
{#                            <div class="small text-black-50"><a href="#!">hello@yourdomain.com</a></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 mb-3 mb-md-0">#}
{#                    <div class="card py-4 h-100">#}
{#                        <div class="card-body text-center">#}
{#                            <i class="fas fa-mobile-alt text-primary mb-2"></i>#}
{#                            <h4 class="text-uppercase m-0">Phone</h4>#}
{#                            <hr class="my-4" />#}
{#                            <div class="small text-black-50">+1 (555) 902-8832</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="social d-flex justify-content-center">#}
{#                <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>#}
{#                <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>#}
{#                <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{% endblock %}

{% macro functionality(name, link, granted, info) %}
    <li class="list-group-item m-0 p-0" {% if (info is defined) %} data-toggle="tooltip" title="{{ info }}" {% endif %}>
        <a href="{{ link }}"
           class="btn btn-outline-info w-100 h-100{% if not (granted is defined and is_granted(granted)) %} disabled {% endif %}">
            {{ name }}
        </a>
    </li>
{% endmacro %}