{% extends 'base.html.twig' %}
{% from 'module/trajet_module.html.twig' import trajet %}
{% from 'module/trajet_search.html.twig' import search %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('autocomplete') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('autocomplete') }}
{% endblock %}

{% block body %}
    <section class="about-section" style="padding-top: 3rem; padding-bottom: 2rem">
        {{ search() }}
    </section>
    <section class="signup-section h-100">
        {% for t in listTrajets %}
            {{ trajet(t) }}
        {% endfor %}
    </section>
{% endblock %}